# Node modules & build artifacts
node_modules
dist
.tmp

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
*.log

# IDE & editor configs
.vscode
.idea
*.swp

# Git & misc
.git
.gitignore
.dockerignore
Dockerfile

# OS-specific
.DS_Store
Thumbs.db
