:host ::ng-deep .homepage-menu-item {
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

:host ::ng-deep .layout-menu > li:first-child ul {
    margin-top: 0;
    margin-bottom: 0;
}
