<ul class="layout-menu">
    @if (isLoading) {
        <li class="text-center py-4">
            <i class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
            <div>{{ 'Navigation.LoadingCategories' | translate }}</div>
        </li>
    }
    @if (!isLoading && errorMessage) {
        <li class="text-center py-4 text-red-500">
            {{ errorMessage }}
        </li>
    }
    @if (!isLoading && !errorMessage) {
        @for (item of model; track item.label; let i = $index) {
            @if (!item.separator) {
                <li app-menuitem [item]="item" [index]="i" [root]="true"></li>
            }
            @if (item.separator) {
                <li class="menu-separator"></li>
            }
        }
    }
</ul>
