<div class="card">
    <div class="font-semibold text-xl mb-4">Your Orders</div>
    <div *ngIf="orderHistoryList.length > 0">
        <p-table [value]="orderHistoryList" [scrollable]="true" scrollHeight="680px"
            [tableStyle]="{ 'min-width': '60rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 25%">Order Tracking Number</th>
                    <th style="width: 25%">Total Price</th>
                    <th style="width: 25%">Total Quantity</th>
                    <th style="width: 25%">Date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
                <tr>
                    <td>{{ order.orderTrackingNumber }}</td>
                    <td>{{ order.totalPrice | currency: 'USD' }}</td>
                    <td>{{ order.totalQuantity }}</td>
                    <td>{{ order.dateCreated | date:'medium' }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="orderHistoryList.length === 0">
        <p-message severity="info" [closable]="false">
            <ng-template pTemplate>
                <span>No orders found.</span>
            </ng-template>
        </p-message>
    </div>
</div>