<p-fluid>
    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div class="flex" formGroupName="customer">
            <div class="card flex flex-col gap-6 w-full">
                <div class="font-semibold text-xl">{{ 'Checkout.Customer' | translate }}</div>
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="firstname2">{{ 'Checkout.FirstName' | translate }}</label>
                        <input pInputText id="firstname2" type="text" formControlName="firstName" />
                        @if (hasFieldError(firstName)) {
                            <p-message severity="error" size="small" variant="simple">{{
                                getFieldErrorMessage(firstName)
                            }}</p-message>
                        }
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="lastname2">{{ 'Checkout.LastName' | translate }}</label>
                        <input pInputText id="lastname2" type="text" formControlName="lastName" />
                        @if (hasFieldError(lastName)) {
                            <p-message severity="error" size="small" variant="simple">{{
                                getFieldErrorMessage(lastName)
                            }}</p-message>
                        }
                    </div>
                </div>

                <div class="flex flex-wrap gap-2">
                    <label for="email">{{ 'Checkout.Email' | translate }}</label>
                    <input pInputText id="email" type="text" formControlName="email" />
                    @if (hasFieldError(email)) {
                        <p-message severity="error" size="small" variant="simple">{{
                            getFieldErrorMessage(email)
                        }}</p-message>
                    }
                </div>
            </div>
        </div>
        <div class="flex mt-8">
            <div class="card flex flex-col gap-6 w-full">
                <div class="font-semibold text-xl">{{ 'Checkout.ShippingAddress' | translate }}</div>
                <div formGroupName="shippingAddress">
                    <div class="flex flex-col md:flex-row gap-6 mb-4">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="country">{{ 'Checkout.Country' | translate }}</label>
                            <p-select
                                id="country"
                                [options]="countries"
                                optionLabel="name"
                                [placeholder]="'Checkout.SelectOne' | translate"
                                class="w-full"
                                (onChange)="getStates('shippingAddress')"
                                formControlName="country"
                            ></p-select>
                            @if (hasFieldError(shippingAddressCountry)) {
                                <p-message severity="error" size="small" variant="simple">{{
                                    getFieldErrorMessage(shippingAddressCountry)
                                }}</p-message>
                            }
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="state">{{ 'Checkout.State' | translate }}</label>
                            <p-select
                                id="state"
                                [options]="shippingAddressStates"
                                optionLabel="name"
                                [placeholder]="'Checkout.SelectOne' | translate"
                                class="w-full"
                                formControlName="state"
                            ></p-select>
                            @if (hasFieldError(shippingAddressState)) {
                                <p-message severity="error" size="small" variant="simple">{{
                                    getFieldErrorMessage(shippingAddressState)
                                }}</p-message>
                            }
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row gap-6 mb-4">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="city">{{ 'Checkout.City' | translate }}</label>
                            <input pInputText id="city" type="text" formControlName="city" />
                            @if (hasFieldError(shippingAddressCity)) {
                                <p-message severity="error" size="small" variant="simple">{{
                                    getFieldErrorMessage(shippingAddressCity)
                                }}</p-message>
                            }
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="street">{{ 'Checkout.Street' | translate }}</label>
                            <input pInputText id="street" type="text" formControlName="street" />
                            @if (hasFieldError(shippingAddressStreet)) {
                                <p-message severity="error" size="small" variant="simple">{{
                                    getFieldErrorMessage(shippingAddressStreet)
                                }}</p-message>
                            }
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2">
                        <label for="zipCode">{{ 'Checkout.ZipCode' | translate }}</label>
                        <input pInputText id="zipCode" type="text" formControlName="zipCode" />
                        @if (hasFieldError(shippingAddressZipCode)) {
                            <p-message severity="error" size="small" variant="simple">{{
                                getFieldErrorMessage(shippingAddressZipCode)
                            }}</p-message>
                        }
                    </div>
                </div>
                <div class="flex flex-col md:flex-row gap-4 mt-4">
                    <div class="flex items-center">
                        <p-checkbox
                            id="checkOption1"
                            name="option"
                            value=""
                            (onChange)="copyShippingAddressToBillingAddress($event)"
                        />
                        <label for="checkOption1" class="ml-2">{{ 'Checkout.SameAsShipping' | translate }}</label>
                    </div>
                </div>
                <div class="mt-8 font-semibold text-xl">{{ 'Checkout.BillingAddress' | translate }}</div>
                <div formGroupName="billingAddress">
                    <div class="flex flex-col md:flex-row gap-6 mb-4">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="country">{{ 'Checkout.Country' | translate }}</label>
                            <p-select
                                id="country"
                                [options]="countries"
                                optionLabel="name"
                                [placeholder]="'Checkout.SelectOne' | translate"
                                class="w-full"
                                (onChange)="getStates('billingAddress')"
                                formControlName="country"
                            ></p-select>
                            @if (hasFieldError(billingAddressCountry)) {
                                <p-message severity="error" size="small" variant="simple">{{
                                    getFieldErrorMessage(billingAddressCountry)
                                }}</p-message>
                            }
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="state">{{ 'Checkout.State' | translate }}</label>
                            <p-select
                                id="state"
                                [options]="billingAddressStates"
                                optionLabel="name"
                                [placeholder]="'Checkout.SelectOne' | translate"
                                class="w-full"
                                formControlName="state"
                            ></p-select>
                            @if (hasFieldError(billingAddressState)) {
                                <p-message severity="error" size="small" variant="simple">{{
                                    getFieldErrorMessage(billingAddressState)
                                }}</p-message>
                            }
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row gap-6 mb-4">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="city">{{ 'Checkout.City' | translate }}</label>
                            <input pInputText id="city" type="text" formControlName="city" />
                            @if (hasFieldError(billingAddressCity)) {
                                <p-message severity="error" size="small" variant="simple">{{
                                    getFieldErrorMessage(billingAddressCity)
                                }}</p-message>
                            }
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="street">{{ 'Checkout.Street' | translate }}</label>
                            <input pInputText id="street" type="text" formControlName="street" />
                            @if (hasFieldError(billingAddressStreet)) {
                                <p-message severity="error" size="small" variant="simple">{{
                                    getFieldErrorMessage(billingAddressStreet)
                                }}</p-message>
                            }
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2">
                        <label for="billingZipCode">{{ 'Checkout.ZipCode' | translate }}</label>
                        <input pInputText id="billingZipCode" type="text" formControlName="zipCode" />
                        @if (hasFieldError(billingAddressZipCode)) {
                            <p-message severity="error" size="small" variant="simple">{{
                                getFieldErrorMessage(billingAddressZipCode)
                            }}</p-message>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="flex mt-8" formGroupName="creditCard">
            <div class="card flex flex-col gap-6 w-full">
                <div class="font-semibold text-xl">{{ 'Checkout.PaymentInformation' | translate }}</div>
                <div class="flex flex-col md:flex-row gap-6">
                    <div id="card-element-wrapper" style="width: 100%">
                        <div
                            id="card-element"
                            style="padding: 12px; border: 1px solid #ccc; border-radius: 4px"
                            class="mb-2"
                        ></div>
                        @if (stripeError$; as stripeError) {
                            <p-message severity="error" size="small" variant="simple">{{ stripeError }}</p-message>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="flex mt-8">
            <div class="card flex flex-col gap-6 w-full">
                <div class="font-semibold text-xl">{{ 'Checkout.OrderSummary' | translate }}</div>
                <div class="flex flex-col gap-3">
                    <p>
                        <span class="font-semibold">{{ 'Checkout.TotalQuantity' | translate }}:</span>
                        {{ totalQuantity }}
                    </p>
                    <p>
                        <span class="font-semibold">{{ 'Checkout.Shipping' | translate }}:</span>
                        {{ 'Checkout.FreeShipping' | translate }}
                    </p>
                    <p>
                        <span class="font-semibold">{{ 'Checkout.TotalPrice' | translate }}:</span>
                        {{ totalPrice | currency: 'USD' }}
                    </p>
                </div>
                <div class="flex justify-content-center mt-4">
                    <button
                        pButton
                        type="submit"
                        [label]="'Checkout.PlaceOrder' | translate"
                        class="p-button-info"
                        [disabled]="isDisabled"
                    ></button>
                </div>
            </div>
        </div>
    </form>
</p-fluid>
