<p-fluid>
    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div class="flex" formGroupName="customer">
            <div class="card flex flex-col gap-6 w-full">
                <div class="font-semibold text-xl">Customer</div>
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="firstname2">Firstname</label>
                        <input pInputText id="firstname2" type="text" formControlName="firstName" />
                        @if (firstName!.invalid && (firstName!.touched || firstName!.dirty)) {
                        @if (firstName!.errors?.['required'] || firstName!.errors?.['notOnlyWhitespace']) {
                        <p-message severity="error" size="small" variant="simple">Firstname is required.</p-message>
                        }
                        @if (firstName!.errors?.['minlength']) {
                        <p-message severity="error" size="small" variant="simple">Firstname must be at least 2
                            characters long.</p-message>
                        }
                        }
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="lastname2">Lastname</label>
                        <input pInputText id="lastname2" type="text" formControlName="lastName" />
                        @if (lastName!.invalid && (lastName!.touched || lastName!.dirty)) {
                        @if (lastName!.errors?.['required'] || lastName!.errors?.['notOnlyWhitespace']) {
                        <p-message severity="error" size="small" variant="simple">Lastname is required.</p-message>
                        }
                        @if (lastName!.errors?.['minlength']) {
                        <p-message severity="error" size="small" variant="simple">Lastname must be at least 2
                            characters long.</p-message>
                        }
                        }
                    </div>
                </div>

                <div class="flex flex-wrap gap-2 ">
                    <label for="email">Email</label>
                    <input pInputText id="email" type="text" formControlName="email" />
                    @if (email!.invalid && (email!.touched || email!.dirty)) {
                    @if (email!.errors?.['required']) {
                    <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
                    }
                    @if (email!.errors?.['pattern']) {
                    <p-message severity="error" size="small" variant="simple">Email is not valid.</p-message>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="flex mt-8">
            <div class="card flex flex-col gap-6 w-full">
                <div class="font-semibold text-xl">Shipping Address</div>
                <div formGroupName="shippingAddress">
                    <div class="flex flex-col md:flex-row gap-6 mb-4">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="country">Country</label>
                            <p-select id="country" [options]="countries" optionLabel="name" placeholder="Select One"
                                class="w-full" (onChange)="getStates('shippingAddress')"
                                formControlName="country"></p-select>
                            @if (shippingAddressCountry!.invalid && (shippingAddressCountry!.touched ||
                            shippingAddressCountry!.dirty)) {
                            @if (shippingAddressCountry!.errors?.['required'] ) {
                            <p-message severity="error" size="small" variant="simple">Country is required.</p-message>
                            }
                            }
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="state">State</label>
                            <p-select id="state" [options]="shippingAddressStates" optionLabel="name"
                                placeholder="Select One" class="w-full" formControlName="state"></p-select>
                            @if (shippingAddressState!.invalid && (shippingAddressState!.touched ||
                            shippingAddressState!.dirty)) {
                            @if (shippingAddressState!.errors?.['required'] ) {
                            <p-message severity="error" size="small" variant="simple">State is required.</p-message>
                            }
                            }
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row gap-6 mb-4">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="city">City</label>
                            <input pInputText id="city" type="text" formControlName="city" />
                            @if (shippingAddressCity!.invalid && (shippingAddressCity!.touched ||
                            shippingAddressCity!.dirty)) {
                            @if (shippingAddressCity!.errors?.['required'] ||
                            shippingAddressCity!.errors?.['notOnlyWhitespace']) {
                            <p-message severity="error" size="small" variant="simple">City is required.</p-message>
                            }
                            @if (shippingAddressCity!.errors?.['minlength']) {
                            <p-message severity="error" size="small" variant="simple">City must be at least 2
                                characters long.</p-message>
                            }
                            }
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="street">Street</label>
                            <input pInputText id="street" type="text" formControlName="street" />
                            @if (shippingAddressStreet!.invalid && (shippingAddressStreet!.touched ||
                            shippingAddressStreet!.dirty)) {
                            @if (shippingAddressStreet!.errors?.['required'] ||
                            shippingAddressStreet!.errors?.['notOnlyWhitespace']) {
                            <p-message severity="error" size="small" variant="simple">Street is required.</p-message>
                            }
                            @if (shippingAddressStreet!.errors?.['minlength']) {
                            <p-message severity="error" size="small" variant="simple">Street must be at least 2
                                characters long.</p-message>
                            }
                            }
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2">
                        <label for="zipCode">Zip Code</label>
                        <input pInputText id="zipCode" type="text" formControlName="zipCode" />
                        @if (shippingAddressZipCode!.invalid && (shippingAddressZipCode!.touched ||
                        shippingAddressZipCode!.dirty)) {
                        @if (shippingAddressZipCode!.errors?.['required'] ||
                        shippingAddressZipCode!.errors?.['notOnlyWhitespace']) {
                        <p-message severity="error" size="small" variant="simple">Zip Code is required.</p-message>
                        }
                        @if (shippingAddressZipCode!.errors?.['minlength']) {
                        <p-message severity="error" size="small" variant="simple">Zip Code must be at least 2
                            characters long.</p-message>
                        }
                        }
                    </div>
                </div>
                <div class="flex flex-col md:flex-row gap-4 mt-4">
                    <div class="flex items-center">
                        <p-checkbox id="checkOption1" name="option" value=""
                            (onChange)="copyShippingAddressToBillingAddress($event)" />
                        <label for="checkOption1" class="ml-2">Billing Address same as Shipping Address</label>
                    </div>
                </div>
                <div class="mt-8 font-semibold text-xl">Billing Address</div>
                <div formGroupName="billingAddress">
                    <div class="flex flex-col md:flex-row gap-6 mb-4">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="country">Country</label>
                            <p-select id="country" [options]="countries" optionLabel="name" placeholder="Select One"
                                class="w-full" (onChange)="getStates('billingAddress')"
                                formControlName="country"></p-select>
                            @if (billingAddressCountry!.invalid && (billingAddressCountry!.touched ||
                            billingAddressCountry!.dirty)) {
                            @if (billingAddressCountry!.errors?.['required'] ) {
                            <p-message severity="error" size="small" variant="simple">Country is required.</p-message>
                            }
                            }
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="state">State</label>
                            <p-select id="state" [options]="billingAddressStates" optionLabel="name"
                                placeholder="Select One" class="w-full" formControlName="state"></p-select>
                            @if (billingAddressState!.invalid && (billingAddressState!.touched ||
                            billingAddressState!.dirty)) {
                            @if (billingAddressState!.errors?.['required'] ) {
                            <p-message severity="error" size="small" variant="simple">State is required.</p-message>
                            }
                            }
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row gap-6 mb-4">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="city">City</label>
                            <input pInputText id="city" type="text" formControlName="city" />
                            @if (billingAddressCity!.invalid && (billingAddressCity!.touched ||
                            billingAddressCity!.dirty)) {
                            @if (billingAddressCity!.errors?.['required'] ||
                            billingAddressCity!.errors?.['notOnlyWhitespace']) {
                            <p-message severity="error" size="small" variant="simple">City is required.</p-message>
                            }
                            @if (billingAddressCity!.errors?.['minlength']) {
                            <p-message severity="error" size="small" variant="simple">City must be at least 2
                                characters long.</p-message>
                            }
                            }
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="street">Street</label>
                            <input pInputText id="street" type="text" formControlName="street" />
                            @if (billingAddressStreet!.invalid && (billingAddressStreet!.touched ||
                            billingAddressStreet!.dirty)) {
                            @if (billingAddressStreet!.errors?.['required'] ||
                            billingAddressStreet!.errors?.['notOnlyWhitespace']) {
                            <p-message severity="error" size="small" variant="simple">Street is required.</p-message>
                            }
                            @if (billingAddressStreet!.errors?.['minlength']) {
                            <p-message severity="error" size="small" variant="simple">Street must be at least 2
                                characters long.</p-message>
                            }
                            }
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-2">
                        <label for="billingZipCode">Zip Code</label>
                        <input pInputText id="billingZipCode" type="text" formControlName="zipCode" />
                        @if (billingAddressZipCode!.invalid && (billingAddressZipCode!.touched ||
                        billingAddressZipCode!.dirty)) {
                        @if (billingAddressZipCode!.errors?.['required'] ||
                        billingAddressZipCode!.errors?.['notOnlyWhitespace']) {
                        <p-message severity="error" size="small" variant="simple">Zip Code is required.</p-message>
                        }
                        @if (billingAddressZipCode!.errors?.['minlength']) {
                        <p-message severity="error" size="small" variant="simple">Zip Code must be at least 2
                            characters long.</p-message>
                        }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="flex mt-8" formGroupName="creditCard">
            <div class="card flex flex-col gap-6 w-full">
                <div class="font-semibold text-xl">Credit or Debit Card</div>
                <div class="flex flex-col md:flex-row gap-6">
                    <div id="card-element-wrapper" style="width: 100%;">
                        <div id="card-element" style="padding: 12px; border: 1px solid #ccc; border-radius: 4px;"
                            class="mb-2"></div>
                        @if (displayError) {
                            <p-message severity="error" size="small" variant="simple">{{ displayError }}</p-message>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="flex mt-8">
            <div class="card flex flex-col gap-6 w-full">
                <div class="font-semibold text-xl">Review Your Order</div>
                <div class="flex flex-col gap-3">
                    <p><span class="font-semibold">Total Quantity:</span> {{ totalQuantity }}</p>
                    <p><span class="font-semibold">Shipping:</span> FREE</p>
                    <p><span class="font-semibold">Total Price:</span> {{ totalPrice | currency: 'USD' }}</p>
                </div>
                <div class="flex justify-content-center mt-4">
                    <button pButton type="submit" label="Purchase" class="p-button-info" [disabled]="isDisabled"></button>
                </div>
            </div>
        </div>
    </form>
</p-fluid>